.card{
    height: 25rem;
    width: 15rem;
    background-color: rgb(118 249 248 / 52%);
    gap: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    overflow: hidden;
}

.card:hover{
    cursor: pointer;
    box-shadow: 5px 5px;
}

.image-container{
    height: 90%;
    width: 100%;
    background-color:whitesmoke;
    padding: 1rem;
}

.image{
    height: 100%;
    width: 100%;
    background-color: transparent;

}

.prod-header{
    border-bottom:2px solid rgba(255, 255, 255, 0.575) ;
}

