.card{
    height: 25rem;
    width: 15rem;
    background-image: linear-gradient(#f92f571d , white);
    gap: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    cursor: pointer;
}

.card:hover{
    background-image: linear-gradient(white,#f92f571d);
    border-bottom:2px solid #f92f57b1 ;
    border-top:2px solid #f92f57b1 ;
}

.image-container{
    height: 90%;
    width: 100%;
    padding: 1rem;
}

.image{
    height: 100%;
    width: 100%;
    background-color: transparent;

}

.prod-header{
    border-bottom:1px solid #f92f5742;
    border-top:1px solid #f92f5742;
}

.detail-container{
    background-color: #f92f57d2;
    color: whitesmoke;
    border-radius: 5px ;
}