.card{
    height: 25rem;
    width: 15rem;
    background-color: whitesmoke;
    gap: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 4px;
    overflow: hidden;
}

.card:hover{
    cursor: pointer;
    box-shadow: 5px 5px;
}

.image-container{
    height: 90%;
    width: 100%;
    background-color:whitesmoke;
}

.image{
    height: 100%;
    width: 100%;
    background-color: transparent;

}
