*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.profile-container{
    margin: 3px;
    padding: 1rem;
    /* border: 2px solid #f92f57b1; */
    height: 100vh;
}

.profile-header{
    background-image: linear-gradient(#f92f57b1,rgba(128, 128, 128, 0.71));
    padding: 1rem;
    color: black;
    margin-bottom:1rem ;
    border-radius: 10px;
    height: 15rem;
    display: flex;
    align-items: center;
}
.user-description{
    display: flex;
    align-items: center;
    gap:5rem;
}
.user-image{
    background-color: rgba(240, 255, 255, 0.536);
    height: 10rem;
    border-radius: 50%;
    width: 10rem;
}

.other-profile-info {
    display: flex;
    height: 60vh;
}

.profile-info{
    display: flex;
    flex-direction: column;
    padding:1rem;
    width: 65%;
    height:60vh;
}

.ordersAndCarts{
    border-left: 2px solid #f92f57;
    padding: 1rem;
}

.user-details{
    font-size: x-large;
    /* border-bottom: 1px solid #f92f57; */
    background-color: #f92f57c4;
    color: whit;
    border-radius: 5px;
    padding: 3px;
    padding-left: 0.5rem;
    margin-top: 2rem;
}

.user-details-contents{
    margin-top: 1rem;
}
.user-details-contents:hover {
    color:rgba(15, 12, 12, 0.619);
    cursor: pointer;
}